/* app css stylesheet */

.stop_button {
  display: none;
}

.title-playlist {
  cursor: pointer;
  margin-bottom: 1rem;
}

#playlists {
  margin-bottom: 2rem;
}

.add-bottom {
  display: block;
  margin-bottom: 1.5rem;
}

.less-margin-bottom {
  margin-bottom: 0.5rem;
}


.no-margin-bottom {
  margin-bottom: 0;
}

.add-left {
  margin-left: 1.5rem;
}
