<!-- Data loading -->
<div class="content" ng-if="vm.dataLoading">
	<img class="dataLoading"
	src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
</div>

<div ng-hide="vm.dataLoading" class="content">
	<h3>Mes musiques</h3>

	<!-- Error message for empty songs -->
	<p ng-hide="vm.dataLoading" ng-if="!songs.length">Vous n'avez pas de musiques pour le moment.</p>

	<div ng-class="!$first ? 'box_one' : 'first-box_one'" ng-repeat="song in songs">
		<div class="row">
			<div class="two columns">
				<a title="{{ song.artist }} - {{ song.name }}" href="songs/{{ song.slug }}">
					<img class="u-full-width" src="/{{ song.picture }}" alt="Image de la musique {{ song.artist }} - {{ song.name }}" title="{{ song.artist }} - {{ song.name }}" />
				</a>
			</div>
			<div class="ten columns">
				<p><b>{{ song.artist }} - {{ song.name }}</b></p>
				{{ song }}
				<a title="Acheter" class="button button-primary" href="/songs/{{ song.slug }}">En savoir plus</a>
				<a title="Ecouter" class="button" href="{{ song.preview }}">Ecouter</a>
				<a href="#" ng-click="launchMidi({{ song.file }})">Play hinematov.mid</a>
				<a href="#" onClick="MIDIjs.stop();">Stop MIDI Playback</a>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
