<!-- Data loading -->
<div class="content" ng-if="vm.dataLoading">
    <img class="dataLoading"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
</div>

<!-- Error message for empty news -->
<p class="content" ng-hide="vm.dataLoading" ng-if="!news.length">Pas d'actualités disponibles.</p>

<div class="content news" ng-repeat="new in news">
    <div class="row">
        <div class="one-third column">
            <a href="news/{{ new.slug }}">
                <img title="{{ new.name }}" alt="Miniature de {{ new.name }}" class="u-max-full-width" src="/{{ new.picture }}">
            </a>
        </div>
        <div class="two-thirds column">
            <h5><a href="news/{{ new.slug }}">{{ new.name }}</a></h5>
            <p>Publiée le <span class="news-date">{{ new.createdAt | date:"EEEE dd MMMM yyyy à HH'h'mm"}}</span></p>
            <p>{{ new.description | limitTo : 200 }}</p>
        </div>
    </div>
</div>
