<!-- Data loading -->
<div class="content" ng-if="vm.dataLoading">
	<img class="dataLoading"
	src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
</div>
<div ng-hide="vm.dataLoading" class="content">
	<a id="goBack" href="#" title="Retour"><i class="fa fa-arrow-circle-left" aria-hidden="true" back></i></a>
	<h3>{{ song.name }} par {{ song.artist }}</h3>
	<div class="row">
		<div class="two columns">
			<img class="u-full-width" src="/{{ song.picture }}" alt="Image de la musique {{ song.artist }} - {{ song.name }}" title="{{ song.artist }} - {{ song.name }}" />
		</div>
		<div class="ten columns">
			<p><b>{{ song.name }} par {{ song.artist }}</b>
				<br>
				Prix : {{ song.price }}€ - Achetée : {{ song.bought }}
				<br>
				Difficulté: <span ng-bind-html="song.difficulty"></span>
				<br>
			</p>
			<a ng-if="bought == true" title="Supprimer" class="button" ng-confirm-click="Confirmez-vous la suppression de la musique ?" confirmed-click="vm.RemoveSongFromUser()" href="#">Supprimer</a>
			<a ng-if="bought == false" title="Ajouter" class="button button-primary" href="#" ng-click="vm.AddSongToUser()">Ajouter</a>
			<a id="{{ song._id }}_launch" href="#" class="button launch_button" ng-click="launchMidi(song.file, song._id)">Ecouter</a>
			<a id="{{ song._id }}_stop" href="#" class="button stop_button" ng-click="stopMidi(song._id)">Arrêter</a>
			<div id="fb-button" class="fb-like" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		</div>
	</div>
</div>


<div ng-hide="vm.dataLoading" class="content">
	<h3>Commentaires</h3>

	<div class="row">
		<div class="two columns">
			<img class="u-full-width" src="/{{ user.picture }}" alt="Avatar de {{ user.name }}" title="{{user.name}}" />
		</div>
		<div class="ten columns">
			<form name="sendComment" ng-submit="SendComment(data)" role="form" autocomplete="on">
				<label for="comment">Laisser un commentaire (en tant que {{ user.name }})</label>
				<textarea required ng-model="data.message" class="u-full-width" type="text" name="comment" placeholder="Votre commentaire"></textarea>
				<div class="form-actions">
					<button type="submit" class="button-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Error message for empty comments -->
	<p ng-hide="vm.dataLoading" ng-if="!comments.length">Pas de commentaires pour cette musique.</p>
	<div ng-repeat="comment in comments" ng-class="!$first ? 'box_one' : 'first-box_one'">
		<div class="row">
			<div class="two columns">
				<img class="u-full-width" src="/{{ comment.author.picture }}" alt="Avatar de {{ comment.author.name }}" title="{{ comment.author.name }}" />
			</div>
			<div class="ten columns">
				<p><b>{{ comment.author.name }}</b> - le {{ comment.createdAt | date:"EEEE dd MMMM yyyy à HH'h'mm"}}
					<span class="comments-buttons" title="Modifier" ng-click="editing = true" ng-show="user.name == comment.author.name"><i class="fa fa-pencil" aria-hidden="true"></i></span>
					<span class="comments-buttons" title="Supprimer" ng-confirm-click="Confirmez-vous la suppression de votre commentaire ?" confirmed-click="RemoveComment(comment._id)" ng-if="user.name == comment.author.name"><i class="fa fa-times" aria-hidden="true"></i></span>
					<br>
					<span ng-hide="editing"> {{ comment.message }} </span>
				</p>
				<form name="editComment" ng-submit="EditComment(dataEdit, comment._id)" role="form" autocomplete="on" ng-show="editing" ng-submit="editing = false">
					<textarea required ng-init="dataEdit.message=comment.message" ng-model="dataEdit.message" class="u-full-width" type="text" name="comment"></textarea>
					<div class="form-actions">
						<button type="submit" class="button-primary">Envoyer</button>
						<a class="button" ng-click="resetEditComment(comment)" href="#">Annuler</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
